<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Objetivo</title>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" th:href="@{/Base.css}">
    <link rel="stylesheet" th:href="@{/Objetivos.css}">
</head>
<body>
    <nav>
        <a th:href="@{/}" class="nav-logo">Evoluciona</a>
        <ul class="nav-links">
        <li><a th:href="@{/}">Inicio</a></li>
        </ul>
    </nav>

    <div class="page-header">
        <div class="page-header-left">
        <div class="page-tag">Metas personales</div>
        <h1 class="page-title">Obje<em>tivos</em></h1>
        </div>
    </div>

    <div id="overlay" class="overlay" onclick="cerrarModal()"></div>
    <div id="modal-confirmar" class="card" style="display:none;">
        <div class="header">
                <div class="image">
                    <svg aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                        <path d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                        stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="content">
                    <span class="title">Eliminar objetivo</span>
                    <p class="message">
                        ¿Estás seguro de que deseas eliminar este registro? 
                        Esta acción no se puede deshacer.
                    </p>
                </div>
                <div class="actions">
                    <a id="btn-confirmar-eliminar" th:href="@{'/eliminar-objetivo/' + ${objetivo.idObjetivos}}" 
                        class="desactivate">Eliminar</a>
                    <button onclick="cerrarModal()" class="cancel" type="button">Cancelar</button>
                </div>
        </div>
    </div>

    <div class="detalle-container">
        <div class="detalle-card">
            <div class="detalle-header">
                <h1 class="detalle-titulo" th:text="${objetivo.tituloObjetivo}"></h1>
            </div>
            <div>
                    <div class="detalle-contenido">
                        <strong>Descripción:</strong>
                        <p th:text="${objetivo.descripcionObjetivo}"></p>
                    </div>
                    <div class="detalle-contenido">
                        <strong>Estado:</strong>
                        <div class="objetivo-estado"
                            th:text="${objetivo.estadoObjetivo}"
                            th:classappend="${objetivo.estadoObjetivo == 'Pendiente'} ? ' pendiente' :
                                            (${objetivo.estadoObjetivo == 'En progreso'} ? ' progreso' :
                                            (${objetivo.estadoObjetivo == 'Completado'} ? ' completado' : ' otro'))">
                        </div>
                    </div>
                    <div class="detalle-contenido">
                        <strong>Fecha del Objetivo:</strong>
                        <span th:text="${objetivo.fechaObjetivo}"></span>
                    </div>
                    <div class="detalle-contenido"> 
                        <strong>Usuario:</strong>
                        <p th:text="${objetivo.usuario.nombre_completo}"></p>
                    </div>
                    <div class="detalle-contenido">
                        <strong>Frase motivadora:</strong>
                        <p th:text="${objetivo.fraseMotivadora.texto}"></p>
                    </div>

                    <div class="detalle-footer">
                        <a th:href="@{/objetivos}" class="btn-secondary">← Volver</a>
                        <a th:href="@{'/editarObjetivo/' + ${objetivo.idObjetivos} }" class="btn-editar"><i class="fi fi-rs-pencil"></i></a>
                        <button onclick="abrirModal()" class="btn-eliminar"><i class="fi fi-rs-trash"></i></button>
                    </div>
            </div>
        </div>
    </div>

<script>
function abrirModal() {
    document.getElementById("overlay").style.display = "block";
    document.getElementById("modal-confirmar").style.display = "block";
}

function cerrarModal() {
    document.getElementById("overlay").style.display = "none";
    document.getElementById("modal-confirmar").style.display = "none";
}
</script>
</body>
</html>